
.vs/OpenUV-NET/DesignTimeBuild/

.vs/OpenUV-NET/FileContentIndex/

.vs/OpenUV-NET/v17/

.vs/ProjectEvaluation/

OpenUV.Web.Tests/bin/Debug/net6.0/

OpenUV.Web.Tests/obj/Debug/net6.0/

OpenUV.Web.Tests/obj/

OpenUV.Web/bin/Debug/net6.0/

OpenUV.Web/obj/Debug/net6.0/

OpenUV.Web/obj/

OpenUV.Web/bin/Debug/net7.0/

OpenUV.Web.Tests/bin/Debug/net7.0/
